*{
    box-sizing: border-box;
}

.container{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.item{
    width: 120px;
    height: 120px;
    margin: 2px;
    background-color: aqua;
    font-size: 20px;
}